[Unit]
Description=Apache Traffic Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/local/bin/trafficserver start
ExecReload=/usr/local/bin/trafficserver reload
ExecStop=/usr/local/bin/trafficserver stop

[Install]
WantedBy=multi-user.target
