[Unit]
Description=Apache Traffic Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/usr/local/var/trafficserver/cop.pid
ExecStart=/usr/local/bin/traffic_cop
ExecReload=/usr/local/bin/traffic_line -x

[Install]
WantedBy=multi-user.target
