[Unit]
Description=vnstatd Daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/vnstatd -d
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
